**/Debug/
**/Release/

**/*.d
**/*.o
**/*.eep
**/*.elf
**/*.hex
**/*.lss
**/*.map
**/*.srec
**/Makefile
**/makedep.mk

*.log
*.tmp
*.bak
*.temp
*.~*
Thumbs.db
.DS_Store

*.atsuo
*.atlog
*.cppproj.user
*.ncb
*.suo
*.user
*.aps
*.sdf

.idea/
.vscode/